
@mixin font-tab ($size) {
  font: {
  	family: $font-primary;
  	size: 1.125rem;
  	weight: 700;
  }
}

@mixin transition () {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

@mixin mq($media) {
  @if $media == large-screen {
    @media screen and (min-width: 64em) { @content; }
  }
  @else if $media == medium-screen {
    @media screen and (min-width: 40em) { @content; }
  }
  @else if $media == small-screen {
    @media screen and (max-width: 39.9375em)  { @content; }
  }
}

