.pl-100 {
@include mq(large-screen) {
	padding-left: 100px;
	}
}

.pr-100 {
@include mq(large-screen) {
	padding-right: 100px;
	}
}

.pl-155 {
@include mq(large-screen) {
	padding-left: 155px;
	}
}

.pr-155 {
@include mq(large-screen) {
	padding-right: 155px;
	}
}

.height-750 {
	@include mq(large-screen) {
		min-height: 650px;
	}
}

.height-600 {
	@include mq(medium-screen) {
		min-height: 600px;
	}
}

.pt-50 {
	padding-top: 100px;
}
.pb-50 {
	padding-bottom: 100px;
	@include mq(small-screen) {
		padding-bottom: 15px;
	}
}

.mb-50 {
	padding-bottom: 50px;
}

.top-100 {
	@include mq(large-screen) {
	margin-top: 100px;
}
}
.bottom-100 {
	@include mq(large-screen) {
	margin-bottom: 100px;
}
}

.bg-color-grey {
	background-color: #f6f5f5;
}

.no-padding {
	@include mq(large-screen) {
	padding: 0 !important;
}
}

.no-margin-t {
	@include mq(large-screen) {
	margin-top: 0 !important;
}
}

.no-margin-b {
	@include mq(large-screen) {
	margin: 0 !important;
}
}

.mtb-25-mobile{
	@include mq(small-screen) {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.ptb-50-mobile{
	@include mq(small-screen) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}


.mtb-50-mobile{
	@include mq(small-screen) {
		margin-top: 50px!important;
		margin-bottom: 50px!important;
	}
}

.mt-50-mobile{
	@include mq(small-screen) {
		margin-top: 50px!important;
	}
}

.mb-50-mobile{
	@include mq(small-screen) {
		margin-bottom: 50px!important;
	}
}

/*Title style*/
.title-one {
	font-size: 1.500rem;
	font-weight: 300;
	color: #ff0000;
}
.title-two {
  font-size: 1.5rem;
  padding-left: 70px;
  font-weight: 300;
  color: #ff0000;
}
.title-three {}

.title-span {
	font-size: 24px;
	span {
		font-weight: 300;
	}
}

.heading-content {
	font-size: 1.375rem;
	color: #303347;
	font-weight: 600;
}

.full-bg-red {
	background-color: #fd302a;
}
/*Hover classes*/
.img-shadow-hover {
	img {
		@include transition();
		&:hover {
			box-shadow: 4px 4px 0px #e8e8e8;
		}
	}
}
.white-btn {
  background: transparent;
  border: #d90000 1px solid;
  color: #d90000;
}
.ptb-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.lm-row-none {
	@include mq(small-screen) {
		margin-left: 0px!important;
	}
}

.rm-row-none {
	@include mq(small-screen) {
		margin-right: 0px!important;
	}
}

.lp-row-none {
	@include mq(small-screen) {
		padding-left: 0px!important;
	}
}

.rp-row-none {
	@include mq(small-screen) {
		padding-right: 0px!important;
	}
}

.image-shadow {
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.grey-bg{
	background: #f6f4f5;
}

.p-right-45{
	padding-right: 45px!important;
	@include mq(small-screen) {
		padding-right: 15px!important;
	}
}

.p-left-45{
	padding-left: 45px!important;
	@include mq(small-screen) {
		padding-left: 15px!important;
	}
}

img.align-right{
	float: right;
	margin-left:15px;
	@include mq(small-screen) {
		float: none;
		width: 100%;
		margin: 15px 0;
	}
}

img.align-left{
	float: left;
	margin-right: 15px;
	@include mq(small-screen) {
		float: none;
		width: 100%;
		margin: 15px 0;
	}
}

.body-font-style{
	h1, h2, h3, h4, h5, h6{
		font-size: 1.1rem;
    font-weight: normal;
    color: #303347;
    display: inline-block;
    margin: 0px;
    padding: 0px;
	}

}

.tp-non{
	padding-top: none;
}

.banner-top-spacing{
	padding-top: 70px;
	@include mx(medium-screen) {
		padding-top: 20px;
	}
}

.mb-30{
	margin-bottom: 30px;
}
