
@mixin tab-title ($size) {
  font: {
  	family: $font-primary;
  	size: 1.125rem;
  }
}

.tab-img-h{
  height: 358px;
  img {
      object-fit: cover;
      height: 100%;
  }
}

/*Tab Accordion style starts here*/
.tab-accordion {
    padding-bottom: 50px;
    .tab-accordion-content{
      p{
        font-size: .95rem;
        margin-right: 10px;
      }
      .slick-slide{
        .slide-img {
            height: 358px;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
      }
    }
    @include mq(small-screen) {
      padding-bottom: 15px;
      ul.accordion{
        li{
          display: block;
          text-align: center;
          padding: 10px 0px;
          border-right: 2px solid #eee;
          border-bottom: 2px solid #eee;
          margin-bottom: 15px;
        }
      }
    }
	.tabs-title {
		float: none;
		a {
			@include font-tab(18);
			color: #5b5c5e;
      padding: .25rem 1.5rem 2rem;
      @include mq(small-screen) {
          padding: .25rem 1.5rem 1rem;
      }
		 &[aria-selected='true'] {
		 	background: #fff;
		 	color: #ff0000!important;
		 }
     &:hover{
       color: #ff0000!important;
     }
	}
	}

  .activeTab{
    a{
      color: #ff0000!important;
    }
  }

	.tabs-content,
	.tabs {
		border: 0;
	}

	.tabs-content {
		h3 {
		@include tab-title(18);
	}
	}

	.tabs-panel {
		padding: 0;
	}
  .img-relative-title-ld{
    &:hover{
      img{
        box-shadow: -5px 5px 0px rgba(0,0,0,.2);
        @include transition ();
      }
    }
  }
}

.left-image-right-content{
  .img-relative-title-ld{
    &:hover{
      img{
        box-shadow: -5px 5px 0px rgba(0,0,0,.2);
        @include transition ();
      }
    }
  }
}

.img-relative-title-ld {
	position: relative;
  height: 450px;
  border-radius: 4px;
  &:hover{
    img{
      box-shadow: -5px 5px 0px rgba(0,0,0,.2);
      @include transition ();
    }
  }
  @include mq(small-screen) {
    height: auto;
  }
  .box{
    height: 450px;
    border-radius: 4px;
    @include mq(small-screen) {
      height: auto;
    }
    &:hover{
      img{
        box-shadow: -5px 5px 0px rgba(0,0,0,.2);
        @include transition ();
      }
    }
    img{
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
	h2 {
		@include mq(large-screen) {
      position: relative;
      bottom: auto;
      background: red;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      width: 245px;
      left: -33px;
      height: auto;
      top: -31px;
      display: flex;
      align-items: flex-end;
      padding: 40px 34px 35px;
      border-radius: 4px;
      min-height: 120px;
    }
    @media(max-width: 1024px) {
      position: relative;
      bottom: auto;
      background: red;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      width: 180px;
      left: -10px;
      height: auto;
      top: -20px;
      display: flex;
      align-items: flex-end;
      padding: 27px 15px 15px;
      border-radius: 4px;
      min-height: 70px;
    }
	}
	img {
		position: relative;
		width: 100%;
    border-radius: 4px;
    @include transition ();
    z-index: 1;
    height: 100%;
    object-fit: cover;
	}
}
