
@mixin tab-title ($size) {
  font: {
  	family: $font-primary;
  	size: 1.125rem;
  }
}

/*Tab Accordion style starts here*/
.tab-accordion {
    padding-bottom: 75px;
	.tabs-title {
		float: none;
		a {
			@include font-tab(18);
			color: #5b5c5e;
      padding: .25rem 1.5rem 2rem;

		 &[aria-selected='true'] {
		 	background: #fff;
		 	color: #ff0000!important;
		 }
     &:hover{
       color: #ff0000!important;
     }
	}
	}

  .activeTab{
    a{
      color: #ff0000!important;
    }
  }

	.tabs-content,
	.tabs {
		border: 0;
	}

	.tabs-content {
		h3 {
		@include tab-title(18);
	}
	}

	.tabs-panel {
		padding: 0;
	}

}

.img-relative-title-ld {
	position: relative;
	h2 {
		@include mq(large-screen) {
    position: absolute;
    bottom: -124px;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    width: 285px;
    left: -33px;
    height: 152px;
    display: flex;
    align-items: flex-end;
    padding: 0 34px 16px;
    border-radius: 4px;



    }
	}
	img {
		position: relative;
		width: 100%
	}
}
