.award-content-box{
  @include mx(medium-screen) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .award-content{
    a{
      font-size: 20px;
      color: #e93f33;
    }
    a.button{
      color: #fff;
    }
    h3{
      font-family: "Montserrat", sans-serif;
      font-size: 1.125rem;
      margin: 40px 0 15px;
    }
  }
}

.our-certifications-box{
  background: url(..//img/our-award-bg.png)no-repeat top right #f6f4f5;
  background-position: 80% top;
  @include mx(medium-screen) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .our-certifications-content {
    padding: 130px 0 130px;
    @include mq(small-screen) {
      padding: 26px 0px 70px 0px;
    }
  }
}
