.four-column-outer{
  background: #f6f4f5;
  .heading-four-column{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    h3{
      span{
        font-weight: 100;
      }
    }
  }

  @include mq(small-screen) {
    margin-bottom: 50px;
    padding-bottom:30px!important;
    padding-top:30px!important; 
  }

  .four-col-left{
    padding-left: 100px;
    width: 100%;
    border-radius:5px;
    padding: 0 50px 20px;
    @include mq(small-screen) {
      padding: 0 30px 20px;
    }
    margin-bottom: 20px;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    @include transition () ;
    &:hover{
      @include transition () ;
      border-bottom: 5px solid #ccc;
      border-right: 5px solid #ccc;
      a{
        color: #ff0000;
        @include transition () ;
        &:after{
          @include transition () ;
          background: #ff0000;
        }
      }
    }
  }

  .four-col-right{
    float: right;
    border: none;
    @include transition () ;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    &:hover{
      border: none;
      @include transition () ;
      border-bottom: 5px solid #ccc;
      border-left: 5px solid #ccc;
        a{
          @include transition () ;
          color: #ff0000;
          &:after{
            @include transition () ;
            background: #ff0000;
          }
        }
    }
  }

  .four-column-content{
    a{
      font-size: 20px;
      position: relative;
      font-weight: 600;
      margin-bottom:15px;

      &:after{
        content: '';
        position: absolute;
        bottom: -20px;
        width: 50px;
        height: 6px;
        background: #999;
        display: block;
      }

      &:hover{
        &:after{
          background: #ff0000;
        }
      }
    }
    p{
      color: rgba(0, 0, 0, 0.6);
      margin-top: 30px;
      font-size: .8rem;
    }
  }
}
