.block-latest-reads{
	button{
		display: none!important;
	}
	.latest-read{
		h2{
			font-size: 1.500rem;
			padding-left: 70px;
			font-weight: 300;
			color: #ff0000
		}
	}
	.img-block{
		    padding: 20px;
		    cursor: pointer;

		.img{
			    border: 4px solid;
    			border-color: #0000;
					width: 100%;
    			&:hover{
    				border-color: #f00;
    				@include transition();
						border-radius: 5px;
    			}
			img{
				width: 100%;
        min-height: 245px;
			}
		}
		.img-content{
			    margin: 30px 0;
			h6{
				font-size: 0.875rem;
				color: #acb6c6;
				padding-bottom: 14px;
				margin-bottom: 16px;

				&:hover{
					color: #000000;
					position: relative;
					@include transition();
						&::before{
						content: "";
					    height: 4px;
					    width: 40px;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    background: #f00;

						}
				}
			}
			h2{
			    font-size: 1.500rem;
			    color: #585858;
			    line-height: 1.4;
			    font-weight: 400;

			}
		}
	}
}
