.img-relative-title-ru {
	position: relative;
  margin-bottom: 2em;
	&:hover{
		img{
			box-shadow: 5px 5px 0px rgba(0,0,0,.2);
			@include transition ();
		}
	}
	h2 {
    background: red;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 4px;
    width: 245px;
    @include mq(large-screen) {
			position: relative;
	    top: auto;
	    bottom: -51px;
	    background: red;
	    color: #fff;
	    font-size: 22px;
	    font-weight: 400;
	    right: -60px;
	    height: auto;
	    display: flex;
	    align-items: flex-start;
	    padding: 30px 35px 60px;
	    border-radius: 4px;
	    float: right;
    }
		@include mq(small-screen) {
			position: relative;
	    top: auto;
	    bottom: -50px;
	    background: red;
	    color: #fff;
	    font-size: 22px;
	    font-weight: 400;
	    right: -12px;
	    height: auto;
	    display: flex;
	    align-items: flex-start;
	    padding: 15px 15px 50px;
	    border-radius: 4px;
	    float: right;
			width: 200px;
		}
	}
	img {
  	position: relative;
  	width: 100%;
    border-radius: 5px;
		@include transition ();
	}
}


.left-image-right-content {
    padding-top: 50px;
		@include mq(small-screen) {
			 padding-top: 15px;
		}
  h3 {
    @include tab-title(18);
  }
}

.expertise-left-image{
	.img-relative-title-ru {
		h2{
			bottom: -75px;
			top:auto;
		}
	}
}
