.img-relative-title-ru {
	position: relative;
  margin-bottom: 2em;
	h2 {
    background: red;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 4px;
    width: 285px;
    @include mq(large-screen) {
      position: absolute;
      top: -75px;
      background: red;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      width: 285px;
      right: -60px;
      height: 152px;
      display: flex;
      align-items: flex-start;
      padding: 30px 35px 0;
      border-radius: 4px;
    }
	}
	img {
  	position: relative;
  	width: 100%;
    box-shadow: 5px 5px 0px rgba(0,0,0,.2);
    border-radius: 5px;
	}
}


.left-image-right-content {
    padding-top: 75px;
  h3 {
    @include tab-title(18);
  }
    p {
    font-size: 0.750rem;
  }
}

.expertise-left-image{
	.img-relative-title-ru {
		h2{
			bottom: -75px;
			top:auto;
		}
	}
}
