@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
html {
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: auto;
  color: #303347;
  font-size: 1.125rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

a {
  color: #5b5c5e; }
  a:focus, a:active {
    outline: 0;
    background: transparent; }

@media (max-width: 1480px) {
  .custom-grid {
    max-width: 1300px; } }
@media screen and (min-width: 64em) {
  .custom-grid.custom-grid-right {
    margin-right: 0;
    margin-left: auto;
    padding-right: 0; } }
@media (min-width: 1481px) {
  .custom-grid.custom-grid-right {
    margin-right: auto;
    margin-left: auto; } }
@media screen and (min-width: 64em) {
  .custom-grid.custom-grid-left {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0; } }
@media (min-width: 1481px) {
  .custom-grid.custom-grid-left {
    margin-right: auto;
    margin-left: auto; } }
@media (min-width: 1481px) {
  .custom-grid {
    margin: 0 auto;
    max-width: 1600px; } }

p {
  font-size: 1.1rem; }
  p a {
    color: red; }

.clear {
  clear: both; }

.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  content: ''; }

::-webkit-scrollbar {
  width: 1px;
  height: 1px; }

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px; }

@media screen and (max-width: 39.9375em) {
  .jumbotron {
    background: none !important; } }

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(250px + 1px);
  max-height: 750px;
  margin: 50px 0 0;
  padding-top: 1px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-250px);
  transform: rotate(-90deg) translateY(-250px);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  width: auto;
  left: -250px; }
  .horizontal-scroll-wrapper::-webkit-scrollbar {
    width: 0em !important;
    height: 0em !important; }
  .horizontal-scroll-wrapper .one:last-child {
    top: -710px; }
  @media screen and (max-width: 39.9375em) {
    .horizontal-scroll-wrapper {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      width: 251px;
      max-height: 100%;
      margin: 0;
      padding-top: 1px;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transform: none;
      transform: none;
      -webkit-transform-origin: right top;
      transform-origin: right top;
      width: auto;
      left: 0; }
      .horizontal-scroll-wrapper .one:last-child {
        top: 0px; } }

.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top;
  transform-origin: right top; }

.squares {
  padding: 100% 0 0 0; }
  @media screen and (max-width: 39.9375em) {
    .squares {
      padding: 15px; } }

.squares > div {
  width: 500px;
  height: 500px;
  margin: 50px 0;
  position: relative;
  top: -810px; }
  @media screen and (max-width: 39.9375em) {
    .squares > div {
      width: 100%;
      height: auto;
      margin: 50px 0;
      position: relative;
      top: 0;
      transform: none; } }

.one h4, .two h4 {
  font-weight: 300;
  color: red;
  margin-bottom: 60px; }

.one p, .two p {
  font-size: 20px; }

.one span, .two span {
  font-size: 14px; }

.two {
  margin-bottom: -500px !important; }

.scroll-relative {
  position: relative;
  min-height: 500px; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: slategray; }

::-webkit-scrollbar-track {
  background: #b8c0c8; }

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
  overflow-x: hidden; }

.resource-big-charge {
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 30px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .resource-big-charge::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 39.9375em) {
    .resource-big-charge {
      padding-right: 0px; } }

.info-graphi-small {
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  border: 1px solid #ccc; }
  .info-graphi-small::-webkit-scrollbar {
    display: none; }
  .info-graphi-small img {
    width: 100%; }

.info-graphic .info-graphic-heading {
  text-align: center;
  margin-bottom: 40px; }
  .info-graphic .info-graphic-heading h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100; }
    .info-graphic .info-graphic-heading h3 span {
      font-weight: 700; }
.info-graphic .info-graphic-details {
  margin-top: 15px;
  padding-right: 100px; }
  .info-graphic .info-graphic-details h3 {
    font-size: 20px;
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    padding-bottom: 15px; }
    .info-graphic .info-graphic-details h3:after {
      content: "";
      position: absolute;
      bottom: -4px;
      width: 50px;
      height: 6px;
      background: #999;
      display: block; }

@media (max-width: 1360px) and (min-width: 1024px) {
  .horizontal-scroll-wrapper {
    width: 470px;
    max-height: 761px;
    overflow-y: hidden;
    overflow-x: hidden;
    left: -223px; }

  .squares > div {
    width: 450px;
    top: -545px; }

  .horizontal-scroll-wrapper .one:last-child {
    top: -595px; } }
@media (max-width: 1023px) and (min-width: 768px) {
  .horizontal-scroll-wrapper {
    width: 380px;
    max-height: 850px;
    left: -120px; }

  .squares > div {
    width: 363px;
    top: -453px; }

  .horizontal-scroll-wrapper .one:last-child {
    top: -638px; } }
.contact-us-page .img-relative-title-ru iframe {
  position: relative;
  width: 100%; }

p ul {
  list-style: none; }
  p ul li:before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; }

.view-more {
  color: red;
  font-size: 16px;
  display: block;
  position: relative; }
  .view-more::before {
    content: '';
    width: 100%;
    height: 58px;
    display: block;
    position: absolute;
    box-shadow: 0px -12px 14px #fefefe;
    top: 0px; }

.activeTab {
  color: red !important; }

.mt-15 {
  margin-top: 15px; }

.cursorDefault {
  cursor: default !important; }

.pagination {
  width: 100%;
  text-align: center; }
  .pagination li {
    vertical-align: top;
    padding: 0px !important; }
    .pagination li a {
      border: 1px solid #ccc;
      background: #f6f6f7;
      padding: 7px 17px;
      height: 40px; }
  .pagination .previous a, .pagination .next a {
    width: 100px; }
  .pagination .active a {
    background: red;
    color: #fff;
    padding: 7px 17px;
    border: 1px solid red; }

strong span {
  color: red; }

.slick-slide .logo-icon {
  display: inline-block;
  vertical-align: middle; }
  .slick-slide .logo-icon img {
    display: inline-block;
    vertical-align: middle; }

.blogList .img-relative-title-ld h2, .blogList .img-relative-title-ru h2 {
  width: 400px; }

/*Header Styling Starts Here*/
.close-button {
  z-index: 9999; }

header .header-inner {
  min-height: 70px; }
  @media screen and (min-width: 64em) {
    header .header-inner {
      min-height: 115px; } }
  @media screen and (min-width: 40em) {
    header .header-inner .menu-icon {
      display: none; } }
  header .header-inner .main-menu > ul > li {
    padding-bottom: 20px; }
  header .header-inner .main-menu ul li a {
    margin: 0 5px;
    font-size: 1rem; }
  header .header-inner .dropdown.menu.align-right .is-dropdown-submenu.first-sub {
    top: 100%;
    right: 0;
    left: 7px; }
    header .header-inner .dropdown.menu.align-right .is-dropdown-submenu.first-sub li.is-dropdown-submenu-parent > a::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -3px;
      position: absolute;
      right: 10px;
      left: auto; }
  header .header-inner .main-menu > ul > li.is-dropdown-submenu-parent:nth-child(3) .is-dropdown-submenu {
    min-width: 200px; }
  header .header-inner .main-menu > ul > li.is-dropdown-submenu-parent:nth-child(4) .is-dropdown-submenu {
    min-width: 200px; }
  header .header-inner .main-menu .is-dropdown-submenu {
    min-width: 260px; }
    header .header-inner .main-menu .is-dropdown-submenu ul {
      min-width: 295px; }
  header .header-inner .is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
    right: auto;
    left: 100%;
    z-index: 9999; }
  header .header-inner .dropdown > .is-dropdown-submenu-parent {
    padding-bottom: 20px; }
  header .header-inner .dropdown.menu > li.is-dropdown-submenu-parent > a::after, header .header-inner .dropdown.menu > li.is-dropdown-submenu-parent .submenu li.is-dropdown-submenu-parent > a::after {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -6px;
    transition: all 0.2s linear;
    float: right; }
  header .header-inner .dropdown.menu > li.is-dropdown-submenu-parent:hover > a::after, header .header-inner .dropdown.menu > li.is-dropdown-submenu-parent .submenu li.is-dropdown-submenu-parent:hover > a::after {
    border-color: red;
    transition: all 0.2s linear; }
  header .header-inner .dropdown.menu > li.is-dropdown-submenu-parent .submenu li.is-dropdown-submenu-parent > a::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -3px;
    position: absolute;
    right: 0px; }
  header .header-inner .dropdown-menu-an {
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border: none;
    box-shadow: 0 0 5px #ccc;
    width: auto; }
    header .header-inner .dropdown-menu-an li a {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      position: relative;
      text-align: left; }
      header .header-inner .dropdown-menu-an li a:before {
        top: 100%;
        left: 0;
        position: absolute;
        bottom: auto;
        background: #db0000;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        height: 2px;
        color: #fff;
        z-index: -1; }
  header .header-inner .is-dropdown-submenu-parent:hover .dropdown-menu-an {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }

.show-for-small {
  padding-top: 28px; }
  .show-for-small ul li {
    width: 100%; }
    .show-for-small ul li .js-dropdown-active {
      height: auto;
      border: none;
      background: none;
      position: relative;
      top: 0px !important; }

.close-button:focus {
  outline: none; }

/*Header Styling Ends Here*/
.main-menu ul li a {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px; }
  .main-menu ul li a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #db0000;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .main-menu ul li a:hover::before {
    width: 100%; }

.tab-img-h {
  height: 358px; }
  .tab-img-h img {
    object-fit: cover;
    height: 100%; }

/*Tab Accordion style starts here*/
.tab-accordion {
  padding-bottom: 50px; }
  .tab-accordion .tab-accordion-content p {
    font-size: .95rem;
    margin-right: 10px; }
  .tab-accordion .tab-accordion-content .slick-slide .slide-img {
    height: 358px; }
    .tab-accordion .tab-accordion-content .slick-slide .slide-img img {
      object-fit: cover;
      height: 100%; }
  @media screen and (max-width: 39.9375em) {
    .tab-accordion {
      padding-bottom: 15px; }
      .tab-accordion ul.accordion li {
        display: block;
        text-align: center;
        padding: 10px 0px;
        border-right: 2px solid #eee;
        border-bottom: 2px solid #eee;
        margin-bottom: 15px; } }
  .tab-accordion .tabs-title {
    float: none; }
    .tab-accordion .tabs-title a {
      font-family: "Montserrat", sans-serif;
      font-size: 1.125rem;
      font-weight: 700;
      color: #5b5c5e;
      padding: .25rem 1.5rem 2rem; }
      @media screen and (max-width: 39.9375em) {
        .tab-accordion .tabs-title a {
          padding: .25rem 1.5rem 1rem; } }
      .tab-accordion .tabs-title a[aria-selected='true'] {
        background: #fff;
        color: #ff0000 !important; }
      .tab-accordion .tabs-title a:hover {
        color: #ff0000 !important; }
  .tab-accordion .activeTab a {
    color: #ff0000 !important; }
  .tab-accordion .tabs-content,
  .tab-accordion .tabs {
    border: 0; }
  .tab-accordion .tabs-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem; }
  .tab-accordion .tabs-panel {
    padding: 0; }
  .tab-accordion .img-relative-title-ld:hover img {
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }

.left-image-right-content .img-relative-title-ld:hover img {
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.img-relative-title-ld {
  position: relative;
  height: 450px;
  border-radius: 4px; }
  .img-relative-title-ld:hover img {
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
  @media screen and (max-width: 39.9375em) {
    .img-relative-title-ld {
      height: auto; } }
  .img-relative-title-ld .box {
    height: 450px;
    border-radius: 4px; }
    @media screen and (max-width: 39.9375em) {
      .img-relative-title-ld .box {
        height: auto; } }
    .img-relative-title-ld .box:hover img {
      box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
    .img-relative-title-ld .box img {
      height: 100%;
      object-fit: cover;
      border-radius: 4px; }
  @media screen and (min-width: 64em) {
    .img-relative-title-ld h2 {
      position: relative;
      bottom: auto;
      background: red;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      width: 245px;
      left: -33px;
      height: auto;
      top: -31px;
      display: flex;
      align-items: flex-end;
      padding: 40px 34px 35px;
      border-radius: 4px;
      min-height: 120px; } }
  @media screen and (max-width: 39.9375em) {
    .img-relative-title-ld h2 {
      position: relative;
      bottom: auto;
      background: red;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      width: 170px;
      left: -10px;
      height: auto;
      top: -20px;
      display: flex;
      align-items: flex-end;
      padding: 27px 15px 15px;
      border-radius: 4px;
      min-height: 90px; } }
  .img-relative-title-ld img {
    position: relative;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    z-index: 1;
    height: 100%;
    object-fit: cover; }

.grid-overlap {
  margin-top: 50px; }

.block-overlap-custom .cell {
  background: #e00106;
  max-width: 275px;
  width: 100%;
  min-height: 340px;
  border-radius: 4px;
  box-shadow: 4px 4px 0px #b90101;
  margin: 0px 6px;
  -webkit-transition: all 0.2s linear 0.1s;
  -moz--transition: all 0.2s linear 0.1s;
  -o--transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
  position: relative; }
  @media screen and (max-width: 39.9375em) {
    .block-overlap-custom .cell {
      transition: none !important;
      margin: 0 10px;
      -webkit-transition: none !important;
      -moz--transition: none !important;
      -o--transition: none !important; } }
  .block-overlap-custom .cell h3 {
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    -webkit-transition: all 0.2s linear 0.1s; }
    @media screen and (max-width: 39.9375em) {
      .block-overlap-custom .cell h3 {
        transition: none !important; } }
.block-overlap-custom .slick-arrow {
  display: none !important; }
.block-overlap-custom .overlap-grid-hover-effect {
  overflow: hidden; }
  .block-overlap-custom .overlap-grid-hover-effect:hover {
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz--transform: scale(1.7);
    -o--transform: scale(1.7);
    z-index: 1;
    position: inherit;
    transition: all 0.2s linear 0.1s;
    -webkit-transition: all 0.2s linear 0.1s;
    -moz--transition: all 0.2s linear 0.1s;
    -o--transition: all 0.2s linear 0.1s; }
    @media screen and (max-width: 39.9375em) {
      .block-overlap-custom .overlap-grid-hover-effect:hover {
        transform: none;
        -webkit-transition: none !important;
        -moz--transition: none !important;
        -o--transition: none !important; } }
    .block-overlap-custom .overlap-grid-hover-effect:hover h3 {
      font-size: 1.125rem;
      transition: all 0.2s linear 0.1s;
      -webkit-transition: all 0.2s linear 0.1s;
      -moz--transition: all 0.2s linear 0.1s;
      -o--transition: all 0.2s linear 0.1s; }
    .block-overlap-custom .overlap-grid-hover-effect:hover .overlap-hover-box {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -moz--transform: scale(1);
      -o--transform: scale(1);
      -webkit-transition: transform .5s ease, opacity 1.3s ease;
      transition: transform .5s ease, opacity 1.3s ease;
      -moz--transition: transform .5s ease, opacity 1.3s ease;
      -o--transition: transform .5s ease, opacity 1.3s ease; }
      @media screen and (max-width: 39.9375em) {
        .block-overlap-custom .overlap-grid-hover-effect:hover .overlap-hover-box {
          transform: none; } }
      .block-overlap-custom .overlap-grid-hover-effect:hover .overlap-hover-box h3 {
        color: red; }
  @media screen and (max-width: 39.9375em) {
    .block-overlap-custom .overlap-grid-hover-effect {
      box-shadow: 0 0 2px #333;
      min-height: 470px; } }
  .block-overlap-custom .overlap-grid-hover-effect img {
    height: 295px;
    width: 100%; }
    @media screen and (max-width: 39.9375em) {
      .block-overlap-custom .overlap-grid-hover-effect img {
        height: auto;
        margin-bottom: 15px; } }
  .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box {
    color: red;
    text-align: center;
    position: absolute;
    margin: auto;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    padding: 65px  15px 0;
    bottom: 0;
    opacity: 0;
    background: white;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease; }
    @media screen and (max-width: 39.9375em) {
      .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box {
        position: relative;
        color: #fff;
        background: none;
        transition: none !important;
        transform: none !important;
        opacity: 1 !important;
        padding: 10px  15px 0; } }
    .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box h3 {
      bottom: auto;
      top: 50px;
      color: #fff; }
      @media screen and (max-width: 39.9375em) {
        .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box h3 {
          display: none; } }
    .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box p {
      bottom: 60px;
      right: 14px;
      left: 15px;
      font-size: 0.6rem; }
    .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box a {
      color: #fff;
      position: absolute;
      bottom: 50px;
      margin: 0 auto;
      left: 35%; }
      .block-overlap-custom .overlap-grid-hover-effect .overlap-hover-box a:hover {
        opacity: 0.8; }

.owl-item {
  float: left;
  position: relative;
  height: calc(50% - 10px);
  transition: opacity 1s ease; }
  .owl-item:not(.active) {
    opacity: 0; }
  .owl-item:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    opacity: 0;
    transition: opacity .5s ease; }
    .owl-carousel:hover .owl-item:after {
      opacity: 1; }
  .owl-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40% * 2);
    height: 100%;
    opacity: .5; }
  .owl-item:nth-child(odd) > div {
    top: 0; }
  .owl-item:nth-child(even) > div {
    top: calc(100% + 20px); }

.img-relative-title-ru {
  position: relative;
  margin-bottom: 2em;
  height: 450px; }
  @media screen and (max-width: 39.9375em) {
    .img-relative-title-ru {
      height: auto; } }
  .img-relative-title-ru:hover img {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
  .img-relative-title-ru h2 {
    background: red;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 4px;
    width: 245px;
    text-align: right; }
    @media screen and (min-width: 64em) {
      .img-relative-title-ru h2 {
        position: relative;
        top: auto;
        bottom: -51px;
        background: red;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        right: -60px;
        height: auto;
        text-align: right;
        padding: 30px 35px 60px;
        border-radius: 4px;
        float: right; } }
    @media screen and (max-width: 39.9375em) {
      .img-relative-title-ru h2 {
        position: relative;
        top: auto;
        bottom: -50px;
        background: red;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        right: -12px;
        height: auto;
        display: flex;
        align-items: flex-start;
        padding: 15px 15px 50px;
        border-radius: 4px;
        float: right;
        width: 200px; } }
  .img-relative-title-ru img {
    position: relative;
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    height: 100%;
    object-fit: cover; }

.left-image-right-content {
  padding-top: 50px;
  padding-bottom: 150px; }
  @media screen and (max-width: 39.9375em) {
    .left-image-right-content {
      padding-top: 15px;
      padding-bottom: auto; } }
  .left-image-right-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem; }

.expertise-left-image .img-relative-title-ru h2 {
  bottom: -75px;
  top: auto; }

.block-latest-reads button {
  display: none !important; }
.block-latest-reads .fs {
  font-size: 16px; }
.block-latest-reads .latest-read h2 {
  font-size: 1.500rem;
  padding-left: 70px;
  font-weight: 300;
  color: #ff0000; }
.block-latest-reads .img-block {
  padding: 20px;
  cursor: pointer; }
  .block-latest-reads .img-block .img {
    border: 4px solid;
    border-color: #0000;
    width: 100%; }
    .block-latest-reads .img-block .img img {
      width: 100%;
      min-height: 245px;
      height: 20vh; }
  .block-latest-reads .img-block .letest-read-link:hover .img {
    border-color: #f00;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 5px; }
  .block-latest-reads .img-block .letest-read-link:hover h6 {
    color: #000000;
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .block-latest-reads .img-block .letest-read-link:hover h6::before {
      content: "";
      height: 4px;
      width: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #f00; }
  .block-latest-reads .img-block .letest-read-link:hover a {
    color: #db0000; }
  .block-latest-reads .img-block .letest-read-link:hover p {
    color: #db0000; }
  .block-latest-reads .img-block .img-content {
    margin: 30px 0; }
    .block-latest-reads .img-block .img-content h6 {
      font-size: 0.875rem;
      color: #acb6c6;
      padding-bottom: 14px;
      margin-bottom: 16px; }
    .block-latest-reads .img-block .img-content h2 {
      font-size: 1.500rem;
      color: #585858;
      line-height: 1.4;
      font-weight: 400; }

.grid-latest-reads h4 {
  margin-left: 22px; }
@media screen and (max-width: 39.9375em) {
  .grid-latest-reads {
    margin-top: 25px; } }

.grid-list .latest-read h2 {
  font-size: 1.500rem;
  padding-left: 70px;
  font-weight: 300;
  color: #ff0000; }
.grid-list .img-block {
  padding: 20px;
  cursor: pointer; }
  .grid-list .img-block .img {
    border: 4px solid;
    border-color: #000; }
    .grid-list .img-block .img:hover {
      border-color: #f00;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      border-radius: 5px; }
  .grid-list .img-block .img-content {
    margin: 30px 0; }
    .grid-list .img-block .img-content h6 {
      font-size: 0.875rem;
      color: #acb6c6;
      padding-bottom: 14px;
      margin-bottom: 16px; }
      .grid-list .img-block .img-content h6:hover {
        color: #000000;
        position: relative;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        .grid-list .img-block .img-content h6:hover::before {
          content: "";
          height: 4px;
          width: 40px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #f00; }
    .grid-list .img-block .img-content h2 {
      font-size: 1.500rem;
      color: #585858;
      line-height: 1.4;
      font-weight: 400; }

.resource-page-grid .grid-container h4 {
  margin-left: 23px; }

.team-page .img-block .img {
  height: 280px; }
  .team-page .img-block .img img {
    height: 100%;
    object-fit: cover; }

.banner-info {
  font-size: 1.875rem;
  color: #575757;
  line-height: 1.2;
  margin-bottom: 24px; }
  .banner-info span {
    font-weight: 300; }

.main-banner button, .main-banner a.button {
  padding: 10px 15px;
  font-size: .90rem;
  margin-right: 15px;
  margin-top: 15px; }
  @media screen and (max-width: 39.9375em) {
    .main-banner button, .main-banner a.button {
      width: 100%; } }

.banner-image-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .banner-image-effect:hover span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease; }
  .banner-image-effect span {
    color: #fff;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    ms-flex-align: center;
    -ms-flex-pack: center;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 0px;
    bottom: 0;
    opacity: 0;
    background: #ff0000;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease; }

.award-banner h6, .text-content h6 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
  margin-top: 30px; }
.award-banner p, .text-content p {
  color: rgba(0, 0, 0, 0.6); }

.banner-img-link {
  position: relative; }
  @media screen and (min-width: 40em) {
    .banner-img-link .img-shadow-hover {
      position: absolute;
      top: 60px;
      width: 600px; } }

.team-scnd-banner h4 {
  color: red;
  font-weight: 400;
  margin-bottom: 20px; }
.team-scnd-banner p {
  margin: 50px 0; }
.team-scnd-banner .team-banner-be a {
  padding: 50px 30px;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 40px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1); }
.team-scnd-banner .small-order-change {
  padding-right: 150px; }
@media screen and (min-width: 40em) {
  .team-scnd-banner .img-shadow-hover {
    position: absolute;
    top: 60px;
    width: 600px;
    left: 80px; } }

@media screen and (max-width: 39.9375em) {
  .small-order-change {
    order: 1; } }

#loading {
  -webkit-animation: rotation 15s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.rotation-banner {
  position: relative; }

.over-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; }

.img-shadow-hover img {
  width: 160px;
  height: 90px; }

.technologies-government-banner img {
  position: sticky;
  top: 0px; }

@media (min-width: 1600px) {
  .services-sub-menu-two {
    width: 40% !important; } }
@media screen and (max-width: 39.9375em) {
  footer.bg-color-grey {
    background: #fff; } }

.contact-form {
  background: #fff;
  padding: 40px 40px;
  max-width: 440px;
  margin: 0 0 0 auto;
  box-shadow: 9px 9px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 60px;
  z-index: 1; }
  @media screen and (max-width: 39.9375em) {
    .contact-form {
      padding: 40px 15px; } }
  @media screen and (max-width: 39.9375em) {
    .contact-form {
      top: 0px;
      box-shadow: none; } }
  .contact-form [type='text'],
  .contact-form [type='email'],
  .contact-form textarea {
    border: 1px solid #ff0000;
    box-shadow: 0 0 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #303347;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: auto; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #303347;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: auto; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #303347;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: auto; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #303347;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: auto; }
  .contact-form h5 {
    margin-bottom: 30px; }

footer .footer-icon {
  float: left;
  margin-right: 10px;
  color: #fff;
  font-size: 22px; }
footer h5 {
  font-size: 1.125rem;
  color: #303347;
  margin-bottom: 30px; }
footer.footer-bottom {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media screen and (max-width: 39.9375em) {
    footer.footer-bottom {
      padding-top: 35px; } }
  footer.footer-bottom h5 {
    color: #fff;
    margin-bottom: 60px; }
    @media screen and (max-width: 39.9375em) {
      footer.footer-bottom h5 {
        margin-bottom: 20px; } }

@media screen and (max-width: 39.9375em) {
  .footer-info {
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
    background: #f6f5f5;
    border-top: 10px  solid #ececea; } }
.footer-info ul {
  font-size: 14px;
  font-weight: 700;
  color: #303347;
  line-height: 3; }

.twiter-update-footer .MediaCard-widthConstraint {
  display: none !important; }
.twiter-update-footer div {
  width: 33%; }
  @media screen and (max-width: 39.9375em) {
    .twiter-update-footer div {
      width: 100%; } }
@media screen and (max-width: 39.9375em) {
  .twiter-update-footer {
    padding-left: 35px;
    padding-right: 25px; } }

@media screen and (max-width: 39.9375em) {
  .award-content-box {
    margin-top: 25px;
    margin-bottom: 25px; } }
.award-content-box .award-content a {
  font-size: 20px;
  color: #e93f33; }
.award-content-box .award-content a.button {
  color: #fff; }
.award-content-box .award-content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin: 40px 0 15px; }

.our-certifications-box {
  background: url(..//img/our-award-bg.png) no-repeat top right #f6f4f5;
  background-position: 80% top; }
  .our-certifications-box .our-certifications-content {
    padding: 130px 0 130px; }

.our-certifications-box {
  background: url(..//img/certifications-parallax-des.png) no-repeat top right #f6f4f5;
  background-position: 120% top; }
  @media screen and (max-width: 39.9375em) {
    .our-certifications-box {
      background-position: 50% 80%;
      background-size: 100%; } }
  .our-certifications-box .our-certifications-content {
    padding: 130px 0 130px; }
    @media screen and (max-width: 39.9375em) {
      .our-certifications-box .our-certifications-content {
        padding: 30px 0px 130px 0px; } }

.row-slider .slick-dots {
  display: flex;
  justify-content: center; }
  .row-slider .slick-dots li {
    list-style-type: none;
    margin: 0 5px;
    background: #d0d0d0;
    width: 10px;
    height: 10px;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer; }
    .row-slider .slick-dots li.slick-active {
      background: #ff0101; }
.row-slider .slick-slider {
  text-align: center; }

.banner-with-content {
  background: url(..//img/banner-with-content.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
  height: 600px; }
  .banner-with-content::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  .banner-with-content h3.banner-info {
    color: #fff;
    margin-top: 184px;
    position: relative;
    z-index: 1; }
  .banner-with-content .banner-with-content-right {
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 210px 0px 15px;
    top: 280px;
    color: #888; }

.banner-with-content-box h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 50px; }
.banner-with-content-box p {
  margin-bottom: 30px; }

.article-banner {
  background: url(..//img/article-banner.jpeg) no-repeat center;
  background-size: cover; }

.four-column-outer {
  background: #f6f4f5;
  margin: 40px 0; }
  .four-column-outer .heading-four-column {
    text-align: center;
    width: 100%;
    margin-bottom: 50px; }
    .four-column-outer .heading-four-column h3 span {
      font-weight: 100; }
  @media screen and (max-width: 39.9375em) {
    .four-column-outer {
      margin-bottom: 50px;
      padding-bottom: 30px !important;
      padding-top: 30px !important; } }
  .four-column-outer .four-col-left {
    padding-left: 100px;
    width: 100%;
    border-radius: 5px;
    padding: 0 50px 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    @media screen and (max-width: 39.9375em) {
      .four-column-outer .four-col-left {
        padding: 0 30px 20px; } }
    .four-column-outer .four-col-left:hover {
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      border-bottom: 5px solid #ccc;
      border-right: 5px solid #ccc; }
      .four-column-outer .four-col-left:hover h3 {
        color: #ff0000;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        .four-column-outer .four-col-left:hover h3:after {
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          background: #ff0000; }
  .four-column-outer .four-col-right {
    float: right;
    border: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent; }
    .four-column-outer .four-col-right:hover {
      border: none;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      border-bottom: 5px solid #ccc;
      border-left: 5px solid #ccc; }
      .four-column-outer .four-col-right:hover h3 {
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        color: #ff0000; }
        .four-column-outer .four-col-right:hover h3:after {
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          background: #ff0000; }
  .four-column-outer .four-column-content h3 {
    font-size: 20px;
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    padding-bottom: 15px; }
    .four-column-outer .four-column-content h3:after {
      content: "";
      position: absolute;
      bottom: -4px;
      width: 50px;
      height: 6px;
      background: #999;
      display: block; }
    .four-column-outer .four-column-content h3:hover:after {
      background: #ff0000; }
  .four-column-outer .four-column-content p {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    font-size: .84rem; }

.article-top-content .img-relative-title-ld {
  top: 25%; }
.article-top-content .img-relative-title-ld h2 {
  left: auto;
  right: 0px; }

.content-with-sidemenu .sidemnu-heading {
  text-align: center; }
  .content-with-sidemenu .sidemnu-heading h3 {
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 25px; }
.content-with-sidemenu .relative-title {
  text-transform: uppercase; }
.content-with-sidemenu .article-top-content {
  position: relative; }
.content-with-sidemenu .img-relative-title-ld {
  top: 60px;
  float: right;
  right: 0;
  position: absolute; }
  @media (max-width: 1024px) {
    .content-with-sidemenu .img-relative-title-ld {
      display: none; } }
  @media screen and (max-width: 39.9375em) {
    .content-with-sidemenu .img-relative-title-ld {
      display: none; } }
  .content-with-sidemenu .img-relative-title-ld h2 {
    left: auto;
    right: 0px;
    width: 210px;
    border-radius: 5px 0px 0px 5px; }
.content-with-sidemenu .right-sidemenu {
  float: right;
  margin-right: 250px;
  text-align: right; }
  @media (max-width: 1024px) {
    .content-with-sidemenu .right-sidemenu {
      margin-right: 0px; } }
  @media screen and (max-width: 39.9375em) {
    .content-with-sidemenu .right-sidemenu {
      margin-right: 0px; } }
  .content-with-sidemenu .right-sidemenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .content-with-sidemenu .right-sidemenu ul li {
      margin-bottom: 25px; }
      .content-with-sidemenu .right-sidemenu ul li a {
        font-size: 18px;
        font-weight: bold; }

.job-posting-list .career-page-tab-menu {
  margin-top: 5px; }
  .job-posting-list .career-page-tab-menu li {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #5b5c5e;
    padding: .25rem 0rem .20rem;
    text-align: right; }
    @media screen and (max-width: 39.9375em) {
      .job-posting-list .career-page-tab-menu li {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-right: 2px solid #eee;
        border-bottom: 2px solid #eee;
        margin-bottom: 15px; } }
.job-posting-list .open-position {
  font-family: Montserrat,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #000; }
.job-posting-list .job-select select {
  border: none;
  border-bottom: 2px solid #999;
  border-radius: 0px;
  box-shadow: none !important;
  margin-bottom: .6rem; }
.job-posting-list .accordion-title {
  box-shadow: 4px 4px 0px #e4e4e4;
  border: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .job-posting-list .accordion-title .job-title {
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #666; }
    @media screen and (max-width: 39.9375em) {
      .job-posting-list .accordion-title .job-title {
        font-size: 0.875rem; } }
  .job-posting-list .accordion-title .location-view {
    position: absolute;
    right: 15px;
    top: 32%;
    color: #333;
    font-size: 1rem; }
  .job-posting-list .accordion-title:before {
    display: none; }
  .job-posting-list .accordion-title .view-job-btn {
    border-radius: 25px;
    border: 1px solid #ff0000;
    padding: 8px 20px;
    display: inline-block;
    margin-left: 15px;
    color: #ff0000;
    font-size: .80rem; }
.job-posting-list .job-deties-req {
  margin-bottom: 30px;
  margin-top: 15px; }
  .job-posting-list .job-deties-req .job-duties {
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-right: 1px solid #333;
    padding-right: 15px;
    margin-right: 15px;
    display: inline-block; }
  .job-posting-list .job-deties-req .job-req {
    display: inline-block; }
.job-posting-list .location-block {
  padding-left: 55px;
  margin-top: 75px;
  margin-bottom: 25px; }
.job-posting-list .work-hour {
  padding-left: 55px; }
.job-posting-list .accordion-title:hover, .job-posting-list .accordion-title:focus {
  background-color: transparent;
  border: none; }
.job-posting-list li.accordion-item {
  box-shadow: 4px 4px 0px #e4e4e4;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
.job-posting-list li.accordion-item.is-active {
  box-shadow: 4px 6px 0px #e4e4e4;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .job-posting-list li.accordion-item.is-active .view-job-btn {
    background: red !important;
    color: #fff !important; }
  .job-posting-list li.accordion-item.is-active .accordion-title {
    box-shadow: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
.job-posting-list .accordion-content {
  border: none; }
.job-posting-list p.career-info-btn {
  display: block;
  text-align: center; }
  .job-posting-list p.career-info-btn .button {
    margin: 0 auto; }

@media screen and (min-width: 64em) {
  .pl-100 {
    padding-left: 100px; } }

@media screen and (min-width: 64em) {
  .pr-100 {
    padding-right: 100px; } }

@media screen and (min-width: 64em) {
  .pl-155 {
    padding-left: 155px; } }

@media screen and (min-width: 64em) {
  .pr-155 {
    padding-right: 155px; } }

@media screen and (min-width: 64em) {
  .height-750 {
    min-height: 750px; } }

.pt-50 {
  padding-top: 100px; }

.pb-50 {
  padding-bottom: 100px; }

.mb-50 {
  padding-bottom: 50px; }

@media screen and (min-width: 64em) {
  .top-100 {
    margin-top: 100px; } }

@media screen and (min-width: 64em) {
  .bottom-100 {
    margin-bottom: 100px; } }

.bg-color-grey {
  background-color: #f6f5f5; }

@media screen and (min-width: 64em) {
  .no-padding {
    padding: 0 !important; } }

@media screen and (min-width: 64em) {
  .no-margin-t {
    margin-top: 0 !important; } }

@media screen and (min-width: 64em) {
  .no-margin-b {
    margin: 0 !important; } }

@media screen and (max-width: 39.9375em) {
  .mtb-25-mobile {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media screen and (max-width: 39.9375em) {
  .ptb-50-mobile {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media screen and (max-width: 39.9375em) {
  .mtb-50-mobile {
    margin-top: 50px !important;
    margin-bottom: 50px !important; } }

@media screen and (max-width: 39.9375em) {
  .mt-50-mobile {
    margin-top: 50px !important; } }

@media screen and (max-width: 39.9375em) {
  .mb-50-mobile {
    margin-bottom: 50px !important; } }

/*Title style*/
.title-one {
  font-size: 1.500rem;
  font-weight: 300;
  color: #ff0000; }

.title-two {
  font-size: 1.5rem;
  padding-left: 70px;
  font-weight: 300;
  color: #ff0000; }

.title-span {
  font-size: 24px; }
  .title-span span {
    font-weight: 300; }

.heading-content {
  font-size: 1.375rem;
  color: #303347;
  font-weight: 600; }

.full-bg-red {
  background-color: #fd302a; }

/*Hover classes*/
.img-shadow-hover img {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .img-shadow-hover img:hover {
    box-shadow: 4px 4px 0px #e8e8e8; }

.white-btn {
  background: transparent;
  border: #d90000 1px solid;
  color: #d90000; }

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

@media screen and (max-width: 39.9375em) {
  .lm-row-none {
    margin-left: 0px !important; } }

@media screen and (max-width: 39.9375em) {
  .rm-row-none {
    margin-right: 0px !important; } }

@media screen and (max-width: 39.9375em) {
  .lp-row-none {
    padding-left: 0px !important; } }

@media screen and (max-width: 39.9375em) {
  .rp-row-none {
    padding-right: 0px !important; } }

.image-shadow {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2); }

.grey-bg {
  background: #f6f4f5; }

.p-right-45 {
  padding-right: 45px !important; }
  @media screen and (max-width: 39.9375em) {
    .p-right-45 {
      padding-right: 15px !important; } }

.p-left-45 {
  padding-left: 45px !important; }
  @media screen and (max-width: 39.9375em) {
    .p-left-45 {
      padding-left: 15px !important; } }

img.align-right {
  float: right;
  margin-left: 15px; }

img.align-left {
  float: left;
  margin-right: 15px; }

.body-font-style h1, .body-font-style h2, .body-font-style h3, .body-font-style h4, .body-font-style h5, .body-font-style h6 {
  font-size: 1.1rem;
  font-weight: normal;
  color: #303347;
  display: inline-block;
  margin: 0px;
  padding: 0px; }

.button {
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  font-weight: 300;
  font-size: 1rem;
  padding: 11px 43px; }
  .button.btn-full {
    width: 100%;
    border-radius: 3px; }

/*# sourceMappingURL=app.css.map */
