/*Header Styling Starts Here*/
.close-button{
	z-index: 9999;
}

header {
	.header-inner {
		min-height: 70px;

		@include mq(large-screen) {
			min-height: 115px;
		}
		.menu-icon {
			@include mq(medium-screen) {
			display: none;
		}
		}
		.main-menu{
			> ul{
				>li{
						padding-bottom: 20px;
				}
			}
			ul {
				 li{
					a{
						margin: 0 5px;
						font-size: 1rem;
					}
			}
		}
	}



	.dropdown.menu.align-right{
	 .is-dropdown-submenu.first-sub{
		 top: 100%;
			right: 0;
			left: 7px;

			li.is-dropdown-submenu-parent{
					> a::after{
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					margin-top: -3px;
					position: absolute;
					right: 10px;
					left: auto;
				}
			}
	 }
 }

.main-menu{
		> ul{
			> li.is-dropdown-submenu-parent:nth-child(3){
				.is-dropdown-submenu{
					min-width: 200px;
				}
			}
			> li.is-dropdown-submenu-parent:nth-child(4){
				.is-dropdown-submenu{
					min-width: 200px;
				}
			}
	 }
	 .is-dropdown-submenu{
		 min-width: 260px;
		 ul{
			 min-width: 295px;
		 }
	 }
}
	 .is-dropdown-submenu-parent.opens-left>.is-dropdown-submenu {
	     right: auto;
	     left: 100%;
			 z-index: 9999;
	 }
		.dropdown{
			> .is-dropdown-submenu-parent{
				padding-bottom: 20px;
			}
		}
		.dropdown.menu > {
				li.is-dropdown-submenu-parent, li.is-dropdown-submenu-parent .submenu li.is-dropdown-submenu-parent{
					> a::after{
						border: solid black;
						border-width: 0 1px 1px 0;
						display: inline-block;
						padding: 3px;
						vertical-align: middle;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						margin-top: -6px;
						transition: all 0.2s linear;
						float: right;
					}
					&:hover{
						> a::after{
							border-color: red;
							transition: all 0.2s linear;
						}
					}
				}
				li.is-dropdown-submenu-parent .submenu li.is-dropdown-submenu-parent{
						> a::after{
						transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						margin-top: -3px;
						position: absolute;
						right: 0px;
					}
				}
			}
		.dropdown-menu-an{
			opacity: 0;
			transform: translateY(-2em);
			transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
			border: none;
			box-shadow: 0 0 5px #ccc;
			width: auto;
			li{
				a{
					margin-left: 0px;
					margin-right: 0px;
					width: 100%;
					position: relative;
					text-align: left;
					&:before{
				    top: 100%;
				    left: 0;
						position: absolute;
						bottom: auto;
				    background: #db0000;
				    -webkit-transition: all 0.2s linear;
				    transition: all 0.2s linear;
				    height:2px;
						color: #fff;
						z-index: -1;
					}
				}
			}
		}
		.is-dropdown-submenu-parent{
			&:hover{
				.dropdown-menu-an{
					visibility: visible;
				  opacity: 1;
				  transform: translateY(0%);
				  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				}
			}
		}
	}
}
.show-for-small{
    padding-top: 28px;
    ul{
    	li{
				width: 100%;
    		.js-dropdown-active{
    			height: auto;
			    border: none;
			    background: none;
    			position: relative;
    			top:0px !important;
    		}
    	}
    }
}
.close-button:focus{
	outline: none;
}
/*Header Styling Ends Here*/
