//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');


html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	-webkit-font-smoothing: auto;
	color: #303347;
	font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: 700;
}

a {
	color:#5b5c5e;
	&:focus,
	&:active {
		outline: 0;
		background: transparent;
	}
}

.custom-grid {
	max-width: 1300px;
	&.custom-grid-right {
		@include mq(large-screen) {
	  margin-right: 0;
	  margin-left:auto;
	  padding-right: 0;
	}
	}
	&.custom-grid-left {
		@include mq(large-screen) {
	  margin-right: auto;
	  margin-left:0;
	  padding-left: 0;
	}
	}
}

p{
	font-size: 1.125rem;
}


.clear{
	clear: both;
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    content: '';
}
