//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');


html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	-webkit-font-smoothing: auto;
	color: #303347;
	font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: 700;
}

a {
	color:#5b5c5e;
	&:focus,
	&:active {
		outline: 0;
		background: transparent;
	}
}

.custom-grid {
	@media(max-width: 1480px){
		max-width: 1300px;
	}
	&.custom-grid-right {
		@include mq(large-screen) {
	  margin-right: 0;
	  margin-left:auto;
	  padding-right: 0;
	}
	@media(min-width: 1481px){
		margin-right: auto;
		margin-left:auto;
	}
	}
	&.custom-grid-left {
		@include mq(large-screen) {
	  margin-right: auto;
	  margin-left:0;
	  padding-left: 0;
	}
	@media(min-width: 1481px){
		margin-right: auto;
		margin-left:auto;
	}
	}
	@media(min-width: 1481px){
		margin: 0 auto;
		max-width: 1600px;
	}
}

p{
	font-size: 1.1rem;
	a{
		color: red;
	}
}


.clear{
	clear: both;
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    content: '';
}

// Horizontal scroll
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
  }
  ::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
  }

.jumbotron{
	@include mq(small-screen) {
		background: none!important;
	}
}

  .horizontal-scroll-wrapper {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: calc(250px + 1px);
	max-height: 750px;
	margin: 50px 0 0;
	padding-top: 1px;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-transform: rotate(-90deg) translateY(-250px);
			transform: rotate(-90deg) translateY(-250px);
	-webkit-transform-origin: right top;
			transform-origin: right top;
				width: auto;
	  left: -250px;
		&::-webkit-scrollbar {
		width: 0em!important;
		height: 0em!important;
		}
		.one:last-child{
			top: -710px;
		}
		@include mq(small-screen) {
			.one:last-child{
				top: 0px;
			}
			position: relative;
			display: block;
			top: 0;
			left: 0;
			width: 251px;
			max-height: 100%;
			margin: 0;
			padding-top: 1px;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-transform: none;
			transform: none;
			-webkit-transform-origin: right top;
			transform-origin: right top;
			width: auto;
			left: 0;
		}
  }
  .horizontal-scroll-wrapper > div {
	display: block;
	padding: 5px;
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	-webkit-transform-origin: right top;
			transform-origin: right top;
  }

  .squares {
	padding: 100% 0 0 0;
	@include mq(small-screen) {
		padding: 15px;
	}
  }
  .squares > div {
	  width: 500px;
	  height: 500px;
	  margin: 50px 0;
	  position: relative;
	  top: -810px;
		@include mq(small-screen) {
			width: 100%;
			height: auto;
			margin: 50px 0;
			position: relative;
			top: 0;
			transform: none;
		}
  }

  .one h4, .two h4{
	  font-weight: 300;
	  color: red;
	  margin-bottom: 60px;
  }

  .one p, .two p{
	  font-size: 20px;
  }
  .one span,.two span{
		font-size: 14px;
  }

  .two{
			margin-bottom: -500px !important;
  }
  .scroll-relative {
	  position: relative;
	  min-height: 500px;
  }

::-webkit-scrollbar {
width: 0.5em;
height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
	overflow-x:hidden;
}

.resource-big-charge {
    max-height: 500px;
    overflow-y: scroll;
		padding-right: 30px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
			&::-webkit-scrollbar {
			    display: none;
			}
		@include mq(small-screen) {
			padding-right: 0px;
		}
}

.info-graphi-small {
    max-height: 300px;
    overflow-y: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
			&::-webkit-scrollbar {
					display: none;
			}
			img{
				width: 100%;
			}
			border: 1px solid #ccc;
}

.info-graphic{
  .info-graphic-heading{
    text-align: center;
    margin-bottom: 40px;
    h3{
      font-family: $font-primary;
      font-weight: 100;
      span{
        font-weight: 700;
      }
    }
  }

  .info-graphic-details {
    margin-top: 15px;
    padding-right: 100px;
    h3{
      font-size: 20px;
      position: relative;
      font-weight: 600;
      margin-bottom: 15px;
      display: block;
      padding-bottom: 15px;
      &:after{
        content: "";
        position: absolute;
        bottom: -4px;
        width: 50px;
        height: 6px;
        background: #999;
        display: block;
      }
    }
  }
}

@media(max-width: 1360px) and (min-width: 1024px){
	.horizontal-scroll-wrapper {
    width: 470px;
    max-height: 761px;
    overflow-y: hidden;
    overflow-x: hidden;
    left: -223px;
}

.squares>div {
    width: 450px;
    top: -545px;
}

.horizontal-scroll-wrapper .one:last-child {
    top: -595px;
}
}

@media(max-width: 1023px) and (min-width: 768px){
	.horizontal-scroll-wrapper {
	    width: 380px;
	    max-height: 850px;
	    left: -120px;
	}

	.squares>div {
	    width: 363px;
	    top: -453px;
	}

	.horizontal-scroll-wrapper .one:last-child {
	    top: -638px;
	}
}

.contact-us-page{
	.img-relative-title-ru{
		iframe{
			position: relative;
			width: 100%;
		}
	}
}

p{
	ul{
		list-style:none;
		li:before {
			content: "\2022";
			color: red;
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
			p{
				display: inline-block;
				margin: 0px;
			}
		}
	}
}

.view-more{
	color: red;
	font-size: 16px;
	display: block;
	position: relative;
	&::before{
		content: '';
		width: 100%;
		height: 58px;
		display: block;
		position: absolute;
		box-shadow: 0px -12px 14px #fefefe;
		top: 0px;
	}
}
.activeTab{
	color: red!important;
}
.mt-15{
	margin-top: 15px;
}
.cursorDefault{
	cursor: default!important;
}

.pagination{
	width: 100%;
	text-align: center;
	li{
		vertical-align: top;
		padding: 0px!important;
		a{
			border: 1px solid #ccc;
			background: #f6f6f7;
			padding:7px 17px;
			height: 40px;
		}
	}
	.previous a, .next a{
		width: 40px;
		padding: 7px;
		font-size: 14px;
	}
	.active{
		a{
			background: red;
			color: #fff;
			padding: 7px 17px;
			border: 1px solid red;
		}
	}
}
strong{
	span{
		color: red;
	}
}

.slick-slide{
	.logo-icon{
		display: inline-block;
		vertical-align: middle;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.blogList{
	.img-relative-title-ld h2, .img-relative-title-ru h2{
		width: 400px;
	}
}

.blog-page-content .undefined {
    padding-top: 162px;
}

.blog-right-img-text{
	padding-right: 135px;
}
