//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');


html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	-webkit-font-smoothing: auto;
	color: #303347;
	font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: 700;
}

a {
	color:#5b5c5e;
	&:focus,
	&:active {
		outline: 0;
		background: transparent;
	}
}

.custom-grid {
	max-width: 1300px;
	&.custom-grid-right {
		@include mq(large-screen) {
	  margin-right: 0;
	  margin-left:auto;
	  padding-right: 0;
	}
	}
	&.custom-grid-left {
		@include mq(large-screen) {
	  margin-right: auto;
	  margin-left:0;
	  padding-left: 0;
	}
	}
}

p{
	font-size: 1.1rem;
	a{
		color: red;
	}
}


.clear{
	clear: both;
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    content: '';
}


// Horizontal scroll
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
  }
  ::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
  }


  .horizontal-scroll-wrapper {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: calc(250px + 1px);
	max-height: 750px;
	margin: 0;
	padding-top: 1px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transform: rotate(-90deg) translateY(-250px);
			transform: rotate(-90deg) translateY(-250px);
	-webkit-transform-origin: right top;
			transform-origin: right top;
				width: auto;
	  left: -250px;
		&::-webkit-scrollbar {
		width: 0em!important;
		height: 0em!important;
		}
		.one:last-child{
			top: -300px;
		}
		@include mq(small-screen) {
			.one:last-child{
				top: 0px;
			}
			position: relative;
			display: block;
			top: 0;
			left: 0;
			width: 251px;
			max-height: 100%;
			margin: 0;
			padding-top: 1px;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-transform: none;
			transform: none;
			-webkit-transform-origin: right top;
			transform-origin: right top;
			width: auto;
			left: 0;
		}
  }
  .horizontal-scroll-wrapper > div {
	display: block;
	padding: 5px;
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	-webkit-transform-origin: right top;
			transform-origin: right top;
  }

  .squares {
	padding: 100% 0 0 0;
	@include mq(small-screen) {
		padding: 15px;
	}
  }
  .squares > div {
	  width: 500px;
	  height: 500px;
	  margin: 50px 0;
	  position: relative;
	  top: -906px;
		@include mq(small-screen) {
			width: 100%;
			height: auto;
			margin: 50px 0;
			position: relative;
			top: 0;
			transform: none;
		}
  }

  .one h4, .two h4{
	  font-weight: 300;
	  color: red;
	  margin-bottom: 60px;
  }

  .one p, .two p{
	  font-size: 20px;
  }
  .one span,.two span{
		font-size: 14px;
  }

  .two{
			margin-bottom: -500px !important;
  }
  .scroll-relative {
	  position: relative;
	  min-height: 500px;
  }

::-webkit-scrollbar {
width: 0.5em;
height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
	overflow-x:hidden;
}

.resource-big-charge {
    max-height: 500px;
    overflow-y: scroll;
		padding-right: 30px;
		@include mq(small-screen) {
			padding-right: 0px;
		}
}

.info-graphi-small {
    max-height: 300px;
    overflow-y: scroll;
}

.info-graphic{
  .info-graphic-heading{
    text-align: center;
    margin-bottom: 40px;
    h3{
      font-family: $font-primary;
      font-weight: 100;
      span{
        font-weight: 700;
      }
    }
  }

  .info-graphic-details {
    margin-top: 15px;
    padding-right: 100px;
    h3{
      font-size: 20px;
      position: relative;
      font-weight: 600;
      margin-bottom: 15px;
      display: block;
      padding-bottom: 15px;
      &:after{
        content: "";
        position: absolute;
        bottom: -4px;
        width: 50px;
        height: 6px;
        background: #999;
        display: block;
      }
    }
  }
}

.contact-us-page{
	.img-relative-title-ru{
		iframe{
			position: relative;
			width: 100%;
		}
	}
}

p{
	ul{
		list-style:none;
		li:before {
			content: "\2022";
			color: red;
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}

.view-more{
	text-align: right;
	color: red;
	font-size: 16px;
	display: block;
	&:hover{
		opacity: 0.7;
	}

}
.activeTab{
	color: red!important;
}
